<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fitness App</title>
    <link rel="stylesheet" href="/css/workout_index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Handlee|Josefin+Slab|Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class="container clearfix">
      <header class="header">
        <h1>Get<span class="logo">Fit</span></h1>
        <nav class="nav">
          <% if(currentuser === undefined){ %>
          <a href="/">Home</a>
          <% } else { %>
          <a href="/">Home</a>
          <a href="/users/<%=currentuser._id%>">My Profile</a>
          <a href="/workouts/new">New Workouts</a>
          <% } %>
        </nav>
      </header><br>
    </div>
    <% if(currentuser === undefined){ %>
    <h3 class="welcome">Welcome</h3>
    <% } else { %>
      <h3 class="welcome">Welcome, <%=currentuser.username%>!</h3>
    <% } %>
  <h2 class="feed-header">Workout <span>Feed<span></h2>
  <hr>
    <div class="workout">
    <% for(var i = 0; i < workout.length; i++){ %>
      <div class="workout-index">
        <div class="post">
          <a href="/workouts/<%=workout[i]._id%>"><img src="<%=workout[i].image%>"/></a><br>
          <p class="title"><a href="/workouts/<%=workout[i]._id%>"><%=workout[i].title%></a></p>
        </div>
      </div>
    <% } %>
  </div>
  </body>
</html>
